<?xml version="1.0" encoding="UTF-8"?>
<beans:beans 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:place="http://www.lifestack.cn/schema/places" xmlns:eg-country="http://www.lifestack.cn/schema/places/country"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
                 http://www.lifestack.cn/schema/places           http://localhost:8080/schema/places.xsd
                 http://www.lifestack.cn/schema/places/country http://localhost:8080/schema/places-country.xsd
               http://www.springframework.org/schema/beans     http://localhost:8080/schema/www.springframework.org/schema/beans/spring-beans.xsd
             ">

	<place:country id="country" desc="guojia" >
		<eg-country:china name="cn" >
			<language>chinese</language>
		</eg-country:china>
		<eg-country:usa name="us">
			<language>english</language>
		</eg-country:usa>
	</place:country>
	
	<beans:import resource="services.xml"/>
</beans:beans>
